@import '_setting';

.about-author{
    position: relative;
    margin: 0px 64px 94px 64px;
    padding-top: 72px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    
    .photo_author{
        position: relative;
        width: 640;
        height: 566;
        object-fit: contain;
    }

    .ratio{
        position: absolute;
        top: 0px;
        left: -64px;
    }

    .text {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 16px;

        p {
            margin-top: 50px;
        }

        span {
            color: $color-orange;
        }
    } 
}

.bio-in-years{
    margin: 0px 64px 74px 64px;
    display: grid;

    .title {
        margin-bottom: 26px;
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .first-block {
        display: flex;
        gap: 32px;

        img {
            align-self: flex-end;
            width: 304px;
            height: 566px;
        }
    }

    .second-block {
        display: flex;
        gap: 32px;

        .photo {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            img {
                width: 304px;
            }
        }

        .list{
            margin-top: 27px;
        }
    }
}

.years-info {
    height: 60px;
    padding-right: 112px;
    padding-bottom: 19px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    border-bottom: 1px solid $color-divider;

    span {
        align-self: flex-start;
    }

    &.large {
        height: 128px;
    }

    &.first {
        padding-bottom: 12px;
    }

    &.last {
        border-bottom: none;
        padding-bottom: 0px;
    }
}

@media (min-width: 851px) {

}

@media (max-width: 850px) {

    .about-author {
        padding-top: 0px;
        margin: 28px 20px;
        flex-direction: column;
        gap: 8px;

        .photo_author {
            position: relative;
            width: 640;
            height: 566;
            object-fit: scale-down;
        }

        h1 {
            font-size: 40px;
            font-weight: 700;
            line-height: 52px;
        }

        span {
            color: $color-orange;
            padding-left: 65px;
        }

        p {
            margin-top: 10px;
        }
    }
    
    .bio-in-years {
        margin: 10px 20px;
        display: flex;
        flex-direction: column;

        .title {
            margin-bottom: 35px;
        }

        .list {
            gap: 10px;
        }

        .second-block {
            .list {
                margin-top: 10px;
            }
        }
    }

    .years-info {
        height: auto;
        padding-right: 0px;
        padding-bottom: 9px;

        .text-4 {
            font-size: 22px;
        }

        &.large {
            height: auto;
        }

        &.first {
            padding-bottom: 9px;
        }

        &.last {
            border-bottom: none;
            padding-bottom: 0px;
        }
    }
}