@import '_setting';

.section {
    position: relative;
    margin: 0px 64px 72px 64px;

    .description {
        position: relative;
        align-self: center;
    }

    .text-3.inverted {
        position: relative;
        writing-mode: vertical-rl;
        transform: scale(-1);
        color: $secondary-text-color;
    }

    .text-4 {
        position: relative;
        margin-bottom: 28px;
    }

    .poster {
        position: relative;
    }

    &.title {
        margin-top: 8px;
        display: flex;
        gap: 32px;

        h1 {
            margin-bottom: 28px;
        }

        .ratio {
            position: absolute;
            top: -8px;
            left: -64px;
        }

        img {
            position: relative;
        }
    }

    &.about-page-content {
        display: flex;
        gap: 132px;
        margin-bottom: 64px;

        p {
            position: relative;
            color: $golden-text-color;
        }

        span {
            color: white;
        }

        .background-fill {
            width: 1441px;
            height: 384px;
            position: absolute;
            top: -77px;
            left: -64px;
            background-color: $main-text-color;
        }
    }

    &.number-1 {
        margin-top: 3px;
        padding-top: 69px;
        display: flex;
        flex-direction: column;

        .ratio-title {
            position: absolute;
            left: 0px;
            top: 0px;
        }

        .info {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .btn {
                margin-left: 289px;
                margin-top: 152px;
            }
        }

        p {
            max-width: 640px;
        }
    }

    &.number-2 {
        margin-bottom: 0px;
        padding-top: 72px;
        display: grid;
        grid-template-columns: 15% auto 32%;
        grid-template-rows: auto auto;
        column-gap: 32px;

        span {
            grid-column: span 3;
        }

        .back-color {
            position: absolute;
            background-color: $back-fill-color;
            width: 1440px;
            height: 488px;
            top: 0px;
            left: -64px;
        }

        .description {
            display: flex;
            align-self: flex-start;

            &.one {
                flex-direction: row;
                gap: 4px;
            }
            
            &.two {
                flex-direction: column;
                gap: 24px;
            }

        }

        .btn {
            position: absolute;
            top: 236px;
            left: 0px;
        }
    }

    &.number-3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .info {
            padding-top: 72px;
        }

        p {
            padding-top: 28px;
            max-width: 640px;
        }
        
        .btn {
            align-self: flex-end;
            margin-bottom: 150px;
        }

        .ratio {
            position: absolute;
            bottom: 20px;
            right: 0px;
        }
    }

    &.number-4 {
        display: grid;
        column-gap: 32px;
        row-gap: 28px;
        grid-template-areas: 
            "title title title"
            "info info info"
            "Hyacinth Lottery Moravian"
            "Hyacinth info-2 Moravian";

        .title {
            grid-area: title;
        }

        .info {
            padding-left: 112px;
            grid-area: info;
            display: flex;
            flex-direction: row;
            gap: 32px;

            .additional {
                max-width: 528px;
            }
        }
        .hyacinth {
            grid-area: Hyacinth;
            display: flex;
            flex-direction: row;
            position: relative;
        }
        .lottery {
            grid-area: Lottery;
            justify-self: center;
            align-self: center;
            position: relative;
        }
        .moravian {
            grid-area: Moravian;
            justify-self: end;
            position: relative;
        }
        .info-2 {
            grid-area: info-2;
            position: relative;
            color: $golden-text-color;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        .background-fill {
            position: absolute;
            bottom: -72px;
            left: -64px;
            width: 1440px;
            height: 420px;
            background-color: $main-text-color;
        }

        .ratio {
            position: absolute;
            bottom: -72px;
            right: 218px;
        }

        .btn {
            margin-top: 35px;
        }
    }
}

.decorative-panels {
    position: relative;
    display: flex;
    margin-top: 60px;
    
    &.the-four-arts {
        justify-content: flex-end;
        margin-top: 28px;
    }

    &.the-four-times-of-the-day{
        justify-content: flex-start;

        .ratio {
            position: absolute;
            right: 0px;
            bottom: 0px;
        }

        .btn {
            padding-left: 33px;
            padding-top: 511px;
        }
    }

    &.the-four-flowers {
        justify-content: flex-end;

        .btn {
            align-self: flex-end;
            margin-right: 50px;        
        }
    }
}