@import '_setting';

.section {
    margin: 0px 64px 72px 64px;

    .description {
        position: relative;
        align-self: center;
    }

    &.title {
        position: relative;
        margin-top: 8px;
        display: flex;
        gap: 32px;

        h1 {
            margin-bottom: 28px;
        }

        .ratio {
            position: absolute;
            top: -8px;
            left: -64px;
        }

        img {
            position: relative;
        }
    }

    &.about-page-content {
        position: relative;
        display: flex;
        gap: 132px;
        margin-bottom: 67px;

        p {
            position: relative;
            color: $golden-text-color;
        }

        span {
            color: white;
        }

        .background-fill {
            width: 1441px;
            height: 384px;
            position: absolute;
            top: -72px;
            left: -64px;
            background-color: $main-text-color;
        }
    }

    &.number1 {
        position: relative;
        margin-top: 72px;
        display: flex;
        flex-direction: column;

        .ratio-title {
            position: absolute;
            left: 0px;
            top: -69px;
        }

        .info {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .btn {
                margin-left: 289px;
                margin-top: 152px;
            }
        }

        p {
            margin-top: 28px;
            max-width: 640px;
        }

        .text-4 {
            position: relative;
        }
    }
}

.decorative-panels {
    position: relative;
    display: flex;
    margin-top: 60px;
    
    &.the-four-arts {
        justify-content: flex-end;
        margin-top: 28px;
    }

    &.the-four-times-of-the-day{
        justify-content: flex-start;

        .ratio {
            position: absolute;
            right: 0px;
            bottom: 0px;
        }

        .btn {
            padding-left: 33px;
            padding-top: 511px;
        }
    }

    &.the-four-flowers {
        justify-content: flex-end;

        .btn {
            align-self: flex-end;
            margin-right: 50px;        
        }
    }

    .text-3 {
        position: relative;
        writing-mode: vertical-rl;
        transform: scale(-1);
        color: $secondary-text-color;
    }
}