@import '_setting';

a {
    text-decoration: none;
    color: $main-text-color;
    position: relative;
}

button {
    border: none;
    padding: 0px;
    background-color: white;
}

.general-page {
    color: $main-text-color;
    font-family: $main-font;
    margin: auto;
    padding-top: 24px;
    width: 1440px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    padding: 0px 64px 24px 64px;
    max-height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

nav {
    padding-left: 79px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;

    .second-link{
        color: $secondary-text-color;
    }
}

.lenguage {
    display: flex;
    align-items: center;
    margin-right: 65px;
    gap: 8px;
    color: $secondary-text-color;
}

.btn {
    span {
        position: relative;
    }

    &.buy {
        width: 158px;

        img {
            position: absolute;
            bottom: 7px;
            right: -17px;
        }
    }

    &.buy-short{
        width: 65px;

        img {
            position: absolute;
            bottom: 8px;
            left: 29px;
        }
    }
    
    &.raed {
        padding: 4px 0px 4px 0px;
        width: 184px;

        a {
            color: $secondary-text-color;
        }

        img {
            position: absolute;
            bottom: 3px;
            left: 123px;
        }
    }

    &.see {
        width: 150px;

        img {
            position: absolute;
            bottom: 3px;
            left: 90px;
        }
    }

    &.send {
        width: 82px;

        img {
            position: absolute;
            bottom: 8px;
            left: 50px;
        }
    }
}

.divider{
    width: 100%;
    height: 1px;
    background: #CBC4B8;
    border: 1px;
}

#map {
    height: 540px;
    margin-bottom: 72px;
    position: relative;

    .map-info {
        position: absolute;
        top: 60px;
        right: 0px;
    }

    .map-icon {
        position: absolute;
        bottom: 222px;
        right: 239px;
    }

}

#contact {
    background-color: #FFFFFF;
    border: 1px solid  #CBC4B8;
    position: absolute;
    bottom: 44px;
    right: 677px;

    .btn.buy {
        position: absolute;
        bottom: 96px;
        left: 481px;
    }

    .cont-info {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 45px;
        left: 112px;

        .text-4 {
            color: $secondary-text-color;
            margin-top: 20px;
        }
    
        .text-6 {
            color: $secondary-text-color;
            margin-top: 37px;
        }
    
        .text-5 {
            color: $secondary-text-color;
            margin-top: 12px;
        }
    }
}

footer {
    background-color: $main-text-color;
    color:#FFFFFF;
    padding: 40px 64px;
    height: 80px;
    display: flex;
    align-items: center;

    a {
        color: #FFFFFF;
    }

    .second-link{
        color: #FFFFFF;
    }
}

@media (min-width: 851px) {
    .mobile-only {
        display: none !important;
    }
}

@media (max-width: 850px) {
    .desktop-only {
        display: none !important;
    }

    .general-page {
        width: 100%;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
    }

    header {
        padding: 8px 16px;
        max-height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menu-btn {
            padding: 8px;
            color: $secondary-text-color;
        }

        .text-2 {
            font-size: 72px;
            line-height: 52px
        }

        .text-3 {
            font-size: 40px;
        }

        .text-4 {
            font-size: 32px;
        }

        .text-5 {
            font-size: 24px;
        }

        .text-6 {
            font-size: 20px;
        }
    }

    nav.top {
        padding: 20px 0px 20px 0px;
        position: absolute;
        z-index: 100;
        right: 0px;
        top: 76px; 
        flex-direction: column;
        width: 60%;
        transition: all .4s ease;
        transform: translateX(100%);
        background-color: $golden-text-color;
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;
    
        &.visible {
            transform: translateX(0);
        }

        .second-link {
            color: $secondary-text-color;
        }
    }

    nav.bot {
        margin-top: 20px;
        margin-bottom: 28px;
        flex-direction: column;
        padding-left: 0px;
        align-items: flex-start;
        gap: 32px;

        .second-link {
            height: 60px;
        }
    }


    #map-mobile {
        margin-bottom: 60px;
        position: relative;

        .map-icon {
            position: absolute;
            top: 165px;
            right: 70px;
        }

        .contact {        
            position: relative;
            margin: 25px 8px 0px 8px;
            display: flex;
            flex-direction: column;

            .ratio {
                position: absolute;
                top: 0px;
                left: 0px;
            }
            
            .text-3 {
                position: relative;
                margin-top: 28px;
            }
        
            .text-4 {
                position: relative;
                margin-top: 12px;
                color: $secondary-text-color;
            }
    
            .text-6 {
                margin-top: 16px;
                color: $secondary-text-color;
            }
    
            .text-5 {
                margin-top: 12px;
                color: $secondary-text-color;
            }

            .btn {
                margin-top: 20px;
                align-self: end;

                span {
                    color: $main-text-color;
                }
            }
        }

        .text-2 {
            font-size: 72px;
            line-height: 52px
        }

        .text-3 {
            font-size: 40px;
        }

        .text-4 {
            font-size: 32px;
        }

        .text-5 {
            font-size: 24px;
        }

        .text-6 {
            font-size: 20px;
        }
}

    footer {
        padding: 28px 16px 40px 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        height: auto;

        a {
            color: #FFFFFF;
        }

        .second-link {
            color: #FFFFFF;
        }

        .text-3 {
            font-size: 40px;
        }

        .text-6 {
            font-size: 20px;
        }
    }

    .btn {
        .text-5 {
            font-size: 24px;
        }
    }
}