@import '_setting';

html, body {
    margin: 0;
    padding: 0
}

::-webkit-scrollbar {
    width: 0;
}

a {
    text-decoration: none;
    color: $main-text-color;
    position: relative;
}

button {
    border: none;
    padding: 0px;
    background-color: rgb(255, 255, 255, 0);
}

.main {
    box-sizing: border-box;
    color: $main-text-color;
    font-family: $main-font;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    box-sizing: border-box;
    margin-top: 24px;
    padding: 0px 64px 24px 64px;
    height: 84px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-divider;

    .language {
        height: 60px;
        display: flex;
        align-items: center;
        margin-right: 65px;
        gap: 8px;
        color: $secondary-text-color;
    }
}

nav {
    padding-left: 79px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;

    .second-link{
        margin-top: 15px;
        margin-bottom: 15px;
        color: $secondary-text-color;
    }
}

.btn {
    box-sizing: border-box;
    padding: 14px 0px;

    span {
        position: relative;
    }

    &.buy {
        width: 158px;

        img {
            position: absolute;
            bottom: 7px;
            right: -17px;
        }
    }

    &.buy-short{
        padding: 14px 0px;
        width: 65px;

        img {
            position: absolute;
            bottom: 8px;
            left: 29px;
        }
    }
    
    &.read {
        padding: 4px 0px;
        width: 184px;

        a {
            color: $secondary-text-color;
        }

        img {
            position: absolute;
            bottom: 3px;
            left: 123px;
        }
    }

    &.see {
        width: 159px;

        img {
            position: absolute;
            bottom: 3px;
            left: 90px;
        }
    }

    &.send {
        width: 82px;

        img {
            position: absolute;
            bottom: 8px;
            left: 50px;
        }
    }
}

#map {
    box-sizing: border-box;
    position: relative;
    margin-bottom: 72px;
    padding: 91px 0px 36px 64px;
    border-top: 1px solid $color-divider;

    .map-poster {
        position: absolute;
        top: 59px;
        right: 0px;
    }

    .ratio {
        width: 699px;
        height: 404px;
    }
}

#contact {
    position: relative;
    box-sizing: border-box;
    max-width: 699px;
    background-color: #FFFFFF;
    border: 1px solid $color-divider;

    .btn.buy {
        position: absolute;
        bottom: 82px;
        right: 59px;
    }

    .cont-info {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 45px;
        left: 112px;

        .text-4 {
            color: $secondary-text-color;
            margin-top: 20px;
        }
    
        .text-6 {
            color: $secondary-text-color;
            margin-top: 37px;
        }
    
        .text-5 {
            color: $secondary-text-color;
            margin-top: 12px;
        }
    }
}

footer {
    box-sizing: border-box;
    background-color: $main-text-color;
    color:#FFFFFF;
    padding: 40px 64px;
    display: flex;
    align-items: center;

    a {
        color: #FFFFFF;
    }

    .second-link{
        color: #FFFFFF;
    }
}

@media (min-width: 851px) {
    .mobile-only {
        display: none !important;
    }
}

@media (max-width: 850px) {
    .desktop-only {
        display: none !important;
    }

    .general-page {
        width: 100%;
        padding: 0px;
    }

    header {
        box-sizing: content-box;
        padding: 8px 16px;
        max-height: 60px;
        margin-top: 0px;
        justify-content: space-between;

        .menu-btn {
            height: 60px;
            z-index: 100;
            padding: 8px;
            color: $secondary-text-color;
        }
    }

    nav.header {
        z-index: 90;
        margin-top: 69px;
        padding: 20px 0px 20px 0px;
        position: absolute;
        right: 0px;
        top: 0px;
        flex-direction: column;
        gap: 15px;
        width: 60%;
        transition: all .4s ease;
        transform: translateX(100%);
        background-color: $golden-text-color;
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;

        &.visible {
            transform: translateX(0);
        }

        .second-link {
            color: $secondary-text-color;
        }

        .divider {
            width: 40%;
            height: 1px;
            background: #85817A;
        }
    }

    nav.footer {
        margin-top: 20px;
        margin-bottom: 28px;
        flex-direction: column;
        padding-left: 0px;
        align-items: flex-start;
    }

    #map {
        position: relative;
        padding: 0px;
        border-top: none;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 60px;
        position: relative;
        
        .map-poster {
            position: relative;
            top: 0px;
        }
    }

    #contact {
        display: flex;
        flex-direction: column;
        margin-top: 29px;
        padding: 26px 16px 0px 15px;
        border: none;

        .ratio {
            position: absolute;
            top: 0px;
            width: 343px;
            height: 198px;
        }

        .btn.buy {
            position: relative;
            margin-top: 20px;
            align-self: flex-end;
            bottom: 0px;
            right: 0px;
        }

        .cont-info {
            position: relative;
            top: 0px;
            left: 0px;

            .text-4 {
                margin-top: 12px;
            }
        
            .text-6 {
                margin-top: 16px;
            }
        }
    }

    footer {
        padding: 28px 16px 40px 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        height: auto;

        a {
            color: #FFFFFF;
        }

        .second-link {
            color: #FFFFFF;
        }
    }
}

@media (orientation: landscape) {
    
    nav.top {
        margin-top: 0px;
    }
}