$main-font:'Playfair Display', serif;
$secondary-font:  'Jost', sans-serif;
$main-text-color: #363533;
$secondary-text-color: #85817A;
$color-orange: #BD6C2C;

body {
    background-color: #ffffff;
    color: $main-text-color;
    font-family: $main-font;
    z-index: 0;
}

a {
    text-decoration: none;
    color: $main-text-color;
}

button {
    border: none;
    padding: 0px;
}

.general-page {
    margin: auto;
    padding-top: 24px;
    width: 1440px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

header {
    padding: 0px 64px 24px 64px;
    max-height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

nav {
    padding-left: 79px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;

    .second-link{
        color: $secondary-text-color;
    }
}

.lenguage {
    display: flex;
    align-items: center;
    margin-right: 65px;
    gap: 8px;
    color: $secondary-text-color;
}

.btn {
    position: relative;

    &.buy {
        // вопрос с размером кнопки height
        width: 148px;
        height: 32px;
    }

    &.buy-short{
        width: 51.793px;
        height: 32px;
    }

    
    &.raed {
        width: 174px;
        height: 40px;
        
        a {
            color: $secondary-text-color;
        }

        img {
            position: absolute;
            bottom: 14px;
            right: -7px;
        }
    }

    &.see {
        width: 159px;
        height: 40px;

        img {
            position: absolute;
            bottom: 14px;
            right: 9px;
        }
    }
    
    svg {
        position: absolute;
        bottom: 12px;
        right: -11px;
    }
}

.divider{
    width: 1440px;
    height: 1px;
    background: #CBC4B8;
    border: 1px;
}

#map {
    height: 540px;
    margin-bottom: 72px;
    position: relative;

    .map-info {
        position: absolute;
        top: 60px;
        right: 0px;
    }

    .svg-map-icon {
        position: absolute;
        bottom: 222px;
        right: 239px;
    }

}

#contact {
    width: 699px;
    height: 404px;
    background-color: #FFFFFF;
    border: 1px solid var(--icons-line, #CBC4B8);
    position: absolute;
    bottom: 44px;
    right: 677px;

    .btn.buy {
        position: absolute;
        bottom: 96px;
        left: 481px;
    }

    .cont-info {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 45px;
        left: 112px;

        h4 {
            color: $secondary-text-color;
            margin-top: 20px;
        }
    
        h6 {
            color: $secondary-text-color;
            margin-top: 37px;
        }
    
        h5 {
            color: $secondary-text-color;
            margin-top: 12px;
        }
    }
}

footer {
    background-color: $main-text-color;
    color:#FFFFFF;
    padding: 40px 64px;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    align-items: center;

    a {
        color: #FFFFFF;
    }

    .second-link{
        color: #FFFFFF;
    }
}

h1 {
    font-size: 82px;
    font-style: normal;
    font-weight: 900;
    line-height: 92px;
    margin: 0px;
    font-family: $main-font;
}

h2 {
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    margin: 0px;
    font-family: $main-font;
}

h3 {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    margin: 0px;
    font-family: $main-font;
}

h4 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    margin: 0px;
    font-family: $secondary-font;
}

h5  {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin: 0px;
    font-family: $secondary-font;
}

h6 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin: 0px;
    font-family: $secondary-font;
}

p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0px;
    font-family: $secondary-font;
}