$main-font: 'Playfair Display', serif;
$secondary-font: 'Jost', sans-serif;
$main-text-color: #363533;
$secondary-text-color: #85817A;

.container-main-page {
    width: auto;
    margin-bottom: 72px;

    &.main {
        width: 1440px;
        height: 608px;
        display: grid;
        grid-template-columns: 980px 460px;
        grid-template-rows: auto 1px;

        .logo {
            width: 980px;
            height: 607px;
            position: relative;
        }

        .title-1 {
            position: absolute;
            bottom: 315px;
            left: 176px;
        }

        .title-2 {
            position: absolute;
            bottom: 223px;
            left: 599px;
        }

        .title-3 {
            position: absolute;
            bottom: 184px;
            right: -22px;
        }

        h6 {
            color:#BD6C2C;
        }

        .btn {
            position: absolute;
            bottom: 111px;
            left: 604px;
        }
        
        .divider {
            grid-column: span 2;
        }
    }

    &.about {
        padding: 72px 64px;
        display: flex;
        gap: 32px;
        background-color:  rgb(231, 224, 204, 0.3);

        p {
            width: 640px;
            height: 172px;
            margin-top: 28px;
            margin-bottom: 68px;
        }
    }

    &.shop
}