@import '_setting';

.container-main-page {
    width: auto;
    margin-bottom: 72px;
    position: relative;

    &.main {
        margin-bottom: 0%;
        display: grid;
        grid-template-columns: 980px auto;
        grid-template-rows: auto 1px;

        .title-1 {
            position: absolute;
            bottom: 315px;
            left: 176px;
        }

        .title-2 {
            position: absolute;
            bottom: 223px;
            left: 599px;
        }

        .title-3 {
            position: absolute;
            bottom: 184px;
            left: 750px;
            color: $color-orange;
        }

        .btn {
            position: absolute;
            bottom: 111px;
            left: 604px;
        }
    }

    &.about {
        margin-top: 73px;
        padding: 72px 64px;
        display: flex;
        gap: 32px;
        background-color: $back-fill-color;

        .info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &.shop {
        position: relative;
        padding: 0px 64px;
        display: flex;
        flex-direction: column;

        .cost{
            color: $color-orange;
        }
        
        .banner{
            margin-bottom: 28px;
        }

        .layout-card {
            position: relative;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
            gap: 32px;
            padding-bottom: 28px;
        }

        .back-color{
            position: absolute;
            background-color: $back-fill-color;
            width: 100%;
            height: 200px;
            bottom: 0px;
            left: 0px;
        }
    }
}

@media (min-width: 1120px) {
}

@media (max-width: 1119px) {
    .large-display {
        display: none !important;
    }

    .container-main-page {

        .text-2 {
            font-size: 40px;
            line-height: 52px;
        }

        &.main {
            margin-top: 20px;
            margin-bottom: 60px;
            padding-left: 30px;
            grid-template-columns: 548px auto;
            grid-template-rows: auto;

            .info {
                position: absolute;
                bottom: 3px;
                left: 210px;
                padding-left: 5px;
                width: 300px;
                display: flex;
                flex-direction: column;
            }

            .title-1 {
                position: relative;
                bottom: 0px;
                left: 0px;
            }

            .title-2 {
                position: relative;
                bottom: 0px;
                left: 0px;
                align-self: flex-end;
            }

            h1 {
                font-size: 40px;
                font-weight: 700;
                line-height: 52px;
            }

            .title-3 {
                position: relative;
                bottom: 0px;
                left: 0px;
                margin-top: 16px;
            }

            .btn {
                position: relative;
                bottom: 0px;
                left: 0px;
                margin-top: 16px;
            }
        }

        &.about {
            margin-top: 0px;
            padding: 28px 64px 60px 64px;

            .back {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background-image: url("../img/MuseumPhoto_main_about.png");
                background-repeat: no-repeat;
                background-size: cover;
                filter: blur(8px);
                z-index: 1;

            }

            .info {
                background-color: rgba(231, 224, 204, 0.5);
                box-shadow: 0 0 2px 15px rgba(231, 224, 204, 0.5);
                position: relative;
                z-index: 2;
                gap: 16px;
            }

            p {
                font-weight: 500;
            }

            .btn {
                align-self: end;

                a {
                    color: $main-text-color;
                }
            }
        }

        &.shop {
            margin-bottom: 60px;
            justify-items: center;
            padding: 0px 64px;

            .banner {
                margin-bottom: 16px;
                align-self: flex-start;
            }
        }
    }
}

@media (max-width: 500px) {

    .container-main-page {

        &.main {
            background-image: url("../img/ratio/ratio_index_title.svg");
            background-size: contain;
            background-repeat: no-repeat;
            margin: 40px 0px 60px 13px;
            display: flex;
            flex-direction: column;

            .info {
                position: relative;
                padding-left: 5px;
                max-width: 300px;
                display: flex;
                flex-direction: column;
                bottom: 0px;
                left: 0px;
            }
        }

        &.about {
            margin-top: 0px;
            padding: 28px 16px 60px 19px;
        }
    }
}