$main-font: 'Playfair Display', serif;
$secondary-font: 'Jost', sans-serif;
$main-text-color: #363533;
$secondary-text-color: #85817A;
$golden-text-color: #E7E0CC;
$color-orange: #BD6C2C;
$back-fill-color: rgba(231, 224, 204, 0.3);