$main-font: 'Playfair Display', serif;
$secondary-font: 'Jost', sans-serif;
$main-text-color: #363533;
$secondary-text-color: #85817A;
$color-orange: #BD6C2C;

.content-purchase{
    width: auto;
    margin: 74px 64px 72px 64px;
}

#price-list {
    height: 811px;
    display: grid;
    grid-template-columns: 976px 336px;
    grid-template-rows: 119px 692px;

    .titel {
        grid-column: span 2;
    }

    .cost {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .line{
        height: 1px;
        background: #CBC4B8;
        border: 1px;
    }
    
    .image-info{
        width: 304px;
        height: 592px;
        margin-left: 32px;
        margin-bottom: 100px;
        background-color: $main-text-color;
        display: flex;
        flex-direction: column;

        h5 {
            padding: 24px;
            color: white;
        }
    }
}


.info-ticket{
    display: grid;
    grid-template-columns: 64px 268px 336px 44px 180px 28px 28px 28px;
    justify-items: start;
    align-items: center;

    .change-price{
        justify-self: center;
        color: $secondary-text-color;
    }

    span {
        color: $secondary-text-color;
    }

    img{
        padding: 14px;
    }
    
    .info-family {
        margin-top: 4px;
        padding-left: 336px;
        width: 336px;
    }
}


.total-buy{
    height: 60px;
    display: grid;
    grid-template-columns: 592px 80px 92px auto;
    justify-items: start;
    align-items: center;

    span {
        color: $secondary-text-color;
    }

    .btn {
        justify-self: end;
        margin-right: 11px;
    }    
}

#tour-form{

}