@import '_setting';

.content-purchase{
    width: auto;
    margin: 74px 64px 72px 64px;

    .titel {
        margin-bottom: 38px;
    }
}

#price-list {
    display: grid;
    grid-template-columns: auto 336px;

    .cost {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .line{
        height: 1px;
        background: #CBC4B8;
    }
    
    .image-info{
        margin-left: 32px;
        margin-bottom: 100px;
        background-color: $main-text-color;
        display: flex;
        flex-direction: column;

        img {
            width: 304px;
            height: 384px;
        }

        p {
            padding: 24px;
            color: white;
        }
    }
}

.info-ticket{
    display: grid;
    grid-template-columns: 68px 268px 336px 44px 178px 28px 28px 28px;
    justify-items: start;
    align-items: center;
    padding-bottom: 19px;
    border-bottom: 1px solid $color-divider;

    span {
        color: $secondary-text-color;
    }

    img{
        padding: 14px;
    }
    
    .info-family {
        margin-top: 7px;
        padding-left: 336px;
        min-width: 336px;
    }
}

.total-buy{
    display: grid;
    grid-template-columns: auto 82px 92px 212px;
    justify-items: start;
    align-items: center;

    p {
        color: $secondary-text-color;
    }

    .btn {
        justify-self: end;
    }    
}

.change-amount {
    justify-self: center;
    color: $secondary-text-color;
}

#guided {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .form {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(3, 416px);
        grid-template-rows: repeat(5, auto);
        column-gap: 32px;
        row-gap: 28px;
    }

    .title {
        grid-column: span 3;
        margin-bottom: 12px;
    }

    .full-name {
        height: 40px;
        border-bottom: 1px solid #CBC4B8;
    }

    .people{
        height: 52px;
        grid-column: span 3;
        display: grid;
        grid-template-columns: 336px 28px 28px 28px;
        justify-items: start;
        align-items: center;
    }

    input {
        font-family: $secondary-font;
        color: $secondary-text-color;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        padding: 0px;
        margin-left: 20px;
        margin-bottom: 8px;
        border: none;
    }

    .datatime, .languages  {
        height: 60px;
        display: flex;
        border-bottom: 1px solid #CBC4B8;

        button img{
            padding: 14px;
            width: 24px;
            height: 24px;
        }
    }

    .languages {
        justify-content: space-between;
    }

    .send {
        height: 44px;
        align-self: flex-end;
    }
}

@media (min-width: 851px) {

}

@media (max-width: 850px) {

    .content-purchase {
        width: auto;
        margin: 50px 16px 60px 16px;

        .titel {
            font-size: 40px;
            line-height: 52px;
            margin-bottom: 20px;
        }
    }
    
    #price-list {
        display: flex;
        flex-direction: column-reverse;

        .cost {
            gap: 10px;
        }

        .line {
            height: 1px;
            background: #CBC4B8;
        }

        .image-info {
            background-color: $back-fill-color;
            margin: 0px 0px 10px 0px;

            p {
                font-size: 20px;
                color: $main-text-color;
            }
        }
    }

    .info-ticket {
        grid-template-columns: 64px 25% 25% 35px auto 28px 28px 28px;

        .text-2 {
            font-size: 50px;
            line-height: 52px
        }
        
        .text-4 {
            font-size: 28px;
        }

        .text-5 {
            font-size: 20px;
        }

        .info-family {
            padding-left: 140px;
            min-width: 228px;
        }
    }

    .total-buy {
        margin-top: 30px;
        grid-template-columns: auto auto auto auto;

        .text-6 {
            font-size: 18px;
        }
    }

    #guided {
        display: flex;
        flex-direction: column;
        gap: 28px;

        .text-3 {
            font-size: 32px;
        }

        .text-6 {
            font-size: 18px;
        }

        .form {
            margin-top: 60px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .people {
            grid-template-columns: auto 28px 28px 28px;

            .change-amount {
                font-size: 20px;
            }
        }

        input {
            font-size: 14px;
        }

        .datatime {
            grid-template-columns: 34px auto;
        }

        .lengua {
            grid-template-columns: auto 34px;
        }

        button {
            padding: 7px;
        }
    }
}

@media (max-width: 500px) {

    #price-list {
        margin: 0px;

        .image-info {
            p {
                padding: 10px;
                font-size: 14px;
            }
        }
    }

    .info-ticket {
        grid-template-columns: 35px 85px 25% 20px auto 22px 22px 22px;

        .text-2 {
            font-size: 40px;
            line-height: 52px
        }

        .text-4 {
            font-size: 18px;
        }

        .text-5 {
            font-size: 14px;
        }

        .text-6 {
            font-size: 12px;
        }

        img {
            padding: 7px;
            width: 16px;
            height: 16px;
        }

        .info-family {
            padding-left: 115px;
            min-width: 128px;
        }
    }

    .total-buy {
        margin-top: 30px;
        grid-template-columns: auto auto auto auto;

        p {
            font-size: 14px;
        }
    }

    #guided {
        display: flex;
        flex-direction: column;
        gap: 28px;

        .text-3 {
            font-size: 22px;
        }

        .text-6 {
            font-size: 12px;
        }

        .form {
            margin-top: 60px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .people {
            grid-template-columns: auto 28px 28px 28px;

            .change-amount {
                font-size: 14px;
            }
        }

        input {
            font-size: 14px;
        }

        .datatime {
            grid-template-columns: 34px auto;

            input {
                padding-left: 0px;
            }
        }

        .lengua {
            grid-template-columns: auto 34px;
        }

        img {
            width: 20px;
            height: 20px;
        }

        button {
            padding: 7px;
        }
    }
    
}