body {
  background-color: #ffffff;
  color: #363533;
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
  color: #363533;
  position: relative;
}

button {
  border: none;
  padding: 0px;
  background-color: white;
}

.general-page {
  margin: auto;
  padding-top: 24px;
  width: 1440px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

header {
  padding: 0px 64px 24px 64px;
  max-height: 60px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

nav {
  padding-left: 79px;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}
nav .second-link {
  color: #85817A;
}

.lenguage {
  display: flex;
  align-items: center;
  margin-right: 65px;
  gap: 8px;
  color: #85817A;
}

.btn span {
  position: relative;
}
.btn.buy {
  width: 158px;
}
.btn.buy img {
  position: absolute;
  bottom: 7px;
  right: -17px;
}
.btn.buy-short {
  width: 65px;
}
.btn.buy-short img {
  position: absolute;
  bottom: 8px;
  left: 29px;
}
.btn.raed {
  width: 184px;
}
.btn.raed a {
  color: #85817A;
}
.btn.raed img {
  position: absolute;
  bottom: 3px;
  left: 123px;
}
.btn.see {
  width: 150px;
}
.btn.see img {
  position: absolute;
  bottom: 3px;
  left: 90px;
}
.btn.send {
  width: 82px;
}
.btn.send img {
  position: absolute;
  bottom: 8px;
  left: 50px;
}

.divider {
  width: 100%;
  height: 1px;
  background: #CBC4B8;
  border: 1px;
}

#map {
  height: 540px;
  margin-bottom: 72px;
  position: relative;
}
#map .map-info {
  position: absolute;
  top: 60px;
  right: 0px;
}
#map .map-icon {
  position: absolute;
  bottom: 222px;
  right: 239px;
}

#contact {
  background-color: #FFFFFF;
  border: 1px solid #CBC4B8;
  position: absolute;
  bottom: 44px;
  right: 677px;
}
#contact .btn.buy {
  position: absolute;
  bottom: 96px;
  left: 481px;
}
#contact .cont-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45px;
  left: 112px;
}
#contact .cont-info .text-4 {
  color: #85817A;
  margin-top: 20px;
}
#contact .cont-info .text-6 {
  color: #85817A;
  margin-top: 37px;
}
#contact .cont-info .text-5 {
  color: #85817A;
  margin-top: 12px;
}

footer {
  background-color: #363533;
  color: #FFFFFF;
  padding: 40px 64px;
  height: 80px;
  display: flex;
  align-items: center;
}
footer a {
  color: #FFFFFF;
}
footer .second-link {
  color: #FFFFFF;
}

h1 {
  font-size: 82px;
  font-style: normal;
  font-weight: 900;
  line-height: 92px;
  margin: 0px;
  font-family: "Playfair Display", serif;
}

.text-2 {
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  margin: 0px;
  font-family: "Playfair Display", serif;
}

.text-3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  margin: 0px;
  font-family: "Playfair Display", serif;
}

.text-4 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  margin: 0px;
  font-family: "Jost", sans-serif;
}

.text-5 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin: 0px;
  font-family: "Jost", sans-serif;
}

.text-6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin: 0px;
  font-family: "Jost", sans-serif;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0px;
  font-family: "Jost", sans-serif;
}

.container-main-page {
  width: auto;
  margin-bottom: 72px;
}
.container-main-page.main {
  margin-bottom: 0%;
  display: grid;
  grid-template-columns: 980px 460px;
  grid-template-rows: auto 1px;
  position: relative;
}
.container-main-page.main .title-1 {
  position: absolute;
  bottom: 315px;
  left: 176px;
}
.container-main-page.main .title-2 {
  position: absolute;
  bottom: 223px;
  left: 599px;
}
.container-main-page.main .title-3 {
  position: absolute;
  bottom: 184px;
  left: 750px;
  color: #BD6C2C;
}
.container-main-page.main .btn {
  position: absolute;
  bottom: 115px;
  left: 604px;
}
.container-main-page.main .divider {
  grid-column: span 2;
}
.container-main-page.about {
  margin-top: 73px;
  padding: 72px 64px;
  display: flex;
  gap: 32px;
  background-color: rgba(231, 224, 204, 0.3);
}
.container-main-page.about p {
  margin-top: 28px;
  margin-bottom: 68px;
}
.container-main-page.shop {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  -moz-column-gap: 32px;
       column-gap: 32px;
  padding: 0px 64px 28px 64px;
  position: relative;
}
.container-main-page.shop .cost {
  color: #BD6C2C;
}
.container-main-page.shop .banner {
  grid-column: span 4;
  width: 491px;
  height: 80px;
  margin-bottom: 28px;
}
.container-main-page.shop .back-color {
  position: absolute;
  background-color: rgba(231, 224, 204, 0.3);
  width: 1440px;
  height: 200px;
  bottom: 0px;
}

.product-card {
  background-color: white;
  padding: 24px;
  height: 452px;
  width: 256px;
  border: 1px solid #CBC4B8;
  z-index: 100;
}
.product-card .info {
  height: 392px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.product-card .price {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-card .price .cost h5 {
  color: #BD6C2C;
}
.product-card.see-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-purchase {
  width: auto;
  margin: 74px 64px 72px 64px;
}

#price-list {
  height: 811px;
  display: grid;
  grid-template-columns: 976px 336px;
  grid-template-rows: 119px 692px;
}
#price-list .titel {
  grid-column: span 2;
}
#price-list .cost {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#price-list .line {
  height: 1px;
  background: #CBC4B8;
  border: 1px;
}
#price-list .image-info {
  margin-left: 32px;
  margin-bottom: 100px;
  background-color: #363533;
  display: flex;
  flex-direction: column;
}
#price-list .image-info p {
  padding: 24px;
  color: white;
}

.info-ticket {
  display: grid;
  grid-template-columns: 64px 268px 336px 44px 180px 28px 28px 28px;
  justify-items: start;
  align-items: center;
}
.info-ticket span {
  color: #85817A;
}
.info-ticket img {
  padding: 14px;
}
.info-ticket .info-family {
  margin-top: 4px;
  padding-left: 336px;
  width: 336px;
}

.change-price {
  justify-self: center;
  color: #85817A;
}

.total-buy {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 592px 80px 92px auto;
  justify-items: start;
  align-items: center;
}
.total-buy p {
  color: #85817A;
}
.total-buy .btn {
  justify-self: end;
}

#guided {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
#guided .form {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 416px);
  grid-template-rows: repeat(5, 52px);
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 28px;
}
#guided .title {
  grid-column: span 3;
}
#guided .full-name {
  border-bottom: 1px solid #CBC4B8;
}
#guided .people {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 336px 28px 28px 28px;
  justify-items: start;
  align-items: center;
}
#guided input {
  font-family: "Jost", sans-serif;
  color: #85817A;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding: 8px 20px;
  border: none;
}
#guided .datatime {
  margin-bottom: 2px;
  display: grid;
  grid-template-columns: 52px auto;
  border-bottom: 1px solid #CBC4B8;
}
#guided .lengua {
  display: grid;
  grid-template-columns: auto 52px;
  border-bottom: 1px solid #CBC4B8;
}
#guided button {
  padding: 14px;
}
#guided .send {
  margin-top: 5px;
  align-self: flex-end;
}

.about-author {
  position: relative;
  margin: 0px 64px 70px 64px;
  padding-top: 72px;
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.about-author img {
  position: relative;
}
.about-author .ratio {
  position: absolute;
  top: 0px;
  left: -64px;
}
.about-author .text {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about-author .text p {
  margin-top: 50px;
}
.about-author .text span {
  color: #BD6C2C;
}

.bio-in-years {
  margin: 0px 64px 74px 64px;
  display: grid;
}
.bio-in-years .list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bio-in-years .first-block {
  display: grid;
  grid-template-columns: 336px auto;
  grid-template-rows: 80px auto;
}
.bio-in-years .first-block .title {
  grid-column: span 2;
}
.bio-in-years .first-block img {
  margin-top: 14px;
}
.bio-in-years .line {
  height: 1px;
  background: #CBC4B8;
  border: 1px;
}
.bio-in-years .line.short {
  width: 640px;
}
.bio-in-years .second-block {
  display: grid;
  grid-template-columns: auto 336px;
  grid-template-rows: auto;
}
.bio-in-years .second-block .photo {
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bio-in-years .second-block .list {
  margin-top: 27px;
}

.years-info {
  min-height: 60px;
  padding-right: 112px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
}
.years-info span {
  align-self: flex-start;
}

.section {
  margin: 0px 64px 72px 64px;
}
.section .description {
  position: relative;
  align-self: center;
}
.section.title {
  position: relative;
  margin-top: 8px;
  display: flex;
  gap: 32px;
}
.section.title h1 {
  margin-bottom: 28px;
}
.section.title .ratio {
  position: absolute;
  top: -8px;
  left: -64px;
}
.section.title img {
  position: relative;
}
.section.about-page-content {
  position: relative;
  display: flex;
  gap: 132px;
  margin-bottom: 67px;
}
.section.about-page-content p {
  position: relative;
  color: #E7E0CC;
}
.section.about-page-content span {
  color: white;
}
.section.about-page-content .background-fill {
  width: 1441px;
  height: 384px;
  position: absolute;
  top: -72px;
  left: -64px;
  background-color: #363533;
}
.section.number1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.section.number1 text-6 {
  max-width: 640px;
}

.decorative-panels {
  display: flex;
  margin-top: 60px;
}
.decorative-panels.the-four-arts {
  justify-content: flex-end;
  margin-top: 28px;
}
.decorative-panels.the-four-times-of-the-day {
  justify-content: flex-start;
}
.decorative-panels.the-four-flowers {
  justify-content: flex-end;
}
.decorative-panels .text-3 {
  writing-mode: vertical-rl;
  transform: scale(-1);
  color: #85817A;
}/*# sourceMappingURL=main.css.map */