a {
  text-decoration: none;
  color: #363533;
  position: relative;
}

button {
  border: none;
  padding: 0px;
  background-color: white;
}

.general-page {
  color: #363533;
  font-family: "Playfair Display", serif;
  margin: auto;
  padding-top: 24px;
  max-width: 1440px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
  padding: 0px 64px 24px 64px;
  max-height: 60px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

nav {
  padding-left: 79px;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}
nav .second-link {
  color: #85817A;
}

.lenguage {
  display: flex;
  align-items: center;
  margin-right: 65px;
  gap: 8px;
  color: #85817A;
}

.btn span {
  position: relative;
}
.btn.buy {
  width: 158px;
}
.btn.buy img {
  position: absolute;
  bottom: 7px;
  right: -17px;
}
.btn.buy-short {
  padding: 12px 0px;
  width: 65px;
}
.btn.buy-short img {
  position: absolute;
  bottom: 8px;
  left: 29px;
}
.btn.raed {
  padding: 4px 0px;
  width: 184px;
}
.btn.raed a {
  color: #85817A;
}
.btn.raed img {
  position: absolute;
  bottom: 3px;
  left: 123px;
}
.btn.see {
  width: 150px;
}
.btn.see img {
  position: absolute;
  bottom: 3px;
  left: 90px;
}
.btn.send {
  width: 82px;
}
.btn.send img {
  position: absolute;
  bottom: 8px;
  left: 50px;
}

.divider {
  width: 100%;
  height: 1px;
  background: #CBC4B8;
  border: 1px;
}

#map {
  height: 540px;
  margin-bottom: 72px;
  position: relative;
}
#map .map-info {
  position: absolute;
  top: 60px;
  right: 0px;
}
#map .map-icon {
  position: absolute;
  bottom: 222px;
  right: 239px;
}

#contact {
  background-color: #FFFFFF;
  border: 1px solid #CBC4B8;
  position: absolute;
  bottom: 44px;
  left: 64px;
}
#contact .btn.buy {
  position: absolute;
  bottom: 96px;
  left: 481px;
}
#contact .cont-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45px;
  left: 112px;
}
#contact .cont-info .text-4 {
  color: #85817A;
  margin-top: 20px;
}
#contact .cont-info .text-6 {
  color: #85817A;
  margin-top: 37px;
}
#contact .cont-info .text-5 {
  color: #85817A;
  margin-top: 12px;
}

footer {
  background-color: #363533;
  color: #FFFFFF;
  padding: 40px 64px;
  height: 80px;
  display: flex;
  align-items: center;
}
footer a {
  color: #FFFFFF;
}
footer .second-link {
  color: #FFFFFF;
}

@media (min-width: 851px) {
  .mobile-only {
    display: none !important;
  }
}
@media (max-width: 850px) {
  .desktop-only {
    display: none !important;
  }
  .general-page {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }
  header {
    padding: 8px 16px;
    max-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .menu-btn {
    padding: 8px;
    color: #85817A;
  }
  nav.top {
    padding: 20px 0px 20px 0px;
    position: absolute;
    z-index: 100;
    right: 0px;
    top: 76px;
    flex-direction: column;
    width: 60%;
    transition: all 0.4s ease;
    transform: translateX(100%);
    background-color: #E7E0CC;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
  }
  nav.top.visible {
    transform: translateX(0);
  }
  nav.top .second-link {
    color: #85817A;
  }
  nav.bot {
    margin-top: 20px;
    margin-bottom: 28px;
    flex-direction: column;
    padding-left: 0px;
    align-items: flex-start;
    gap: 32px;
  }
  nav.bot .second-link {
    height: 60px;
  }
  #map-mobile {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 60px;
    position: relative;
  }
  #map-mobile .map-info {
    position: relative;
  }
  #map-mobile .map-info .map-icon {
    position: absolute;
    top: 165px;
    left: 250px;
  }
  #map-mobile .contact {
    position: relative;
    max-width: 343px;
    margin: 25px 8px 0px 8px;
    display: flex;
    flex-direction: column;
  }
  #map-mobile .contact .ratio {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  #map-mobile .contact .text-3 {
    position: relative;
    margin-top: 28px;
  }
  #map-mobile .contact .text-4 {
    position: relative;
    margin-top: 12px;
    color: #85817A;
  }
  #map-mobile .contact .text-6 {
    margin-top: 16px;
    color: #85817A;
  }
  #map-mobile .contact .text-5 {
    margin-top: 12px;
    color: #85817A;
  }
  #map-mobile .contact .btn {
    margin-top: 20px;
    align-self: end;
  }
  #map-mobile .contact .btn span {
    color: #363533;
  }
  footer {
    padding: 28px 16px 40px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    height: auto;
  }
  footer a {
    color: #FFFFFF;
  }
  footer .second-link {
    color: #FFFFFF;
  }
}
.container-main-page {
  width: auto;
  margin-bottom: 72px;
  position: relative;
}
.container-main-page.main {
  margin-bottom: 0%;
  display: grid;
  grid-template-columns: 980px auto;
  grid-template-rows: auto 1px;
}
.container-main-page.main .title-1 {
  position: absolute;
  bottom: 315px;
  left: 176px;
}
.container-main-page.main .title-2 {
  position: absolute;
  bottom: 223px;
  left: 599px;
}
.container-main-page.main .title-3 {
  position: absolute;
  bottom: 184px;
  left: 750px;
  color: #BD6C2C;
}
.container-main-page.main .btn {
  position: absolute;
  bottom: 111px;
  left: 604px;
}
.container-main-page.about {
  margin-top: 73px;
  padding: 72px 64px;
  display: flex;
  gap: 32px;
  background-color: rgba(231, 224, 204, 0.3);
}
.container-main-page.about .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-main-page.about .poster {
  max-width: 640px;
  max-height: 388px;
}
.container-main-page.shop {
  position: relative;
  padding: 0px 64px;
  display: flex;
  flex-direction: column;
}
.container-main-page.shop .cost {
  color: #BD6C2C;
}
.container-main-page.shop .banner {
  margin-bottom: 28px;
}
.container-main-page.shop .layout-card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
  gap: 32px;
  padding-bottom: 28px;
}
.container-main-page.shop .back-color {
  position: absolute;
  background-color: rgba(231, 224, 204, 0.3);
  width: 100%;
  height: 200px;
  bottom: 0px;
  left: 0px;
}

@media (max-width: 850px) {
  .container-main-page {
    margin-bottom: 60px;
  }
  .container-main-page .text-2 {
    font-size: 40px;
    line-height: 52px;
  }
  .container-main-page.main {
    background-image: url("../img/ratio/ratio_index_title.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 40px 0px 60px 13px;
    display: flex;
    flex-direction: column;
  }
  .container-main-page.main .info {
    padding-left: 5px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
  }
  .container-main-page.main .title-1 {
    position: relative;
    bottom: 0px;
    left: 0px;
  }
  .container-main-page.main .title-2 {
    position: relative;
    bottom: 0px;
    left: 0px;
    align-self: flex-end;
  }
  .container-main-page.main h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
  }
  .container-main-page.main .bot {
    align-self: flex-end;
  }
  .container-main-page.main .title-3 {
    position: relative;
    bottom: 0px;
    left: 0px;
    margin-top: 16px;
  }
  .container-main-page.main .btn {
    position: relative;
    bottom: 0px;
    left: 0px;
    margin-top: 16px;
  }
  .container-main-page.about {
    display: block;
    margin-top: 0px;
    padding: 28px 16px 60px 19px;
    background-color: rgba(231, 224, 204, 0.3);
  }
  .container-main-page.about .info {
    display: flex;
    flex-direction: column;
  }
  .container-main-page.about p {
    margin-top: 16px;
    margin-bottom: 0px;
  }
  .container-main-page.about .btn {
    align-self: end;
  }
  .container-main-page.shop {
    align-items: center;
    padding: 28px 16px 60px 19px;
  }
  .container-main-page.shop .banner {
    margin-bottom: 16px;
    align-self: flex-start;
  }
}
.product-card {
  max-width: 304px;
  min-height: 500px;
  position: relative;
  background-color: white;
  padding: 24px;
  border: 1px solid #CBC4B8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-card .info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.product-card .price {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-card .price .cost h5 {
  color: #BD6C2C;
}
.product-card.see-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-purchase {
  width: auto;
  margin: 74px 64px 72px 64px;
}

#price-list {
  display: grid;
  grid-template-columns: auto 25%;
  grid-template-rows: auto 692px;
}
#price-list .titel {
  grid-column: span 2;
  margin-bottom: 38px;
}
#price-list .cost {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#price-list .line {
  height: 1px;
  background: #CBC4B8;
}
#price-list .image-info {
  margin-left: 32px;
  margin-bottom: 100px;
  background-color: #363533;
  display: flex;
  flex-direction: column;
}
#price-list .image-info p {
  padding: 24px;
  color: white;
}

.info-ticket {
  display: grid;
  grid-template-columns: 64px 268px 332px 44px auto 28px 28px 28px;
  justify-items: start;
  align-items: center;
}
.info-ticket span {
  color: #85817A;
}
.info-ticket img {
  padding: 14px;
}
.info-ticket .info-family {
  margin-top: 4px;
  padding-left: 336px;
  min-width: 336px;
}

.change-price {
  justify-self: center;
  color: #85817A;
}

.total-buy {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto 80px 92px 255px;
  justify-items: start;
  align-items: center;
}
.total-buy p {
  color: #85817A;
}
.total-buy .btn {
  justify-self: end;
}

#guided {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
#guided .form {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 416px);
  grid-template-rows: repeat(5, 52px);
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 28px;
}
#guided .title {
  grid-column: span 3;
}
#guided .full-name {
  border-bottom: 1px solid #CBC4B8;
}
#guided .people {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 336px 28px 28px 28px;
  justify-items: start;
  align-items: center;
}
#guided input {
  font-family: "Jost", sans-serif;
  color: #85817A;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding: 8px 20px;
  border: none;
}
#guided .datatime {
  margin-bottom: 2px;
  display: grid;
  grid-template-columns: 52px auto;
  border-bottom: 1px solid #CBC4B8;
}
#guided .lengua {
  display: grid;
  grid-template-columns: auto 52px;
  border-bottom: 1px solid #CBC4B8;
}
#guided button {
  padding: 14px;
}
#guided .send {
  margin-top: 5px;
  align-self: flex-end;
}

@media (max-width: 850px) {
  .content-purchase {
    width: auto;
    margin: 50px 16px 60px 16px;
  }
  #price-list {
    display: flex;
    flex-direction: column;
  }
  #price-list .titel {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 52px;
  }
  #price-list .cost {
    gap: 10px;
  }
  #price-list .line {
    height: 1px;
    background: #CBC4B8;
  }
  #price-list .image-info {
    display: none;
  }
  .info-ticket {
    grid-template-columns: 35px 85px 85px 20px auto 20px 16px 20px;
  }
  .info-ticket .text-2 {
    font-size: 40px;
    line-height: 52px;
  }
  .info-ticket .text-4 {
    font-size: 18px;
  }
  .info-ticket .text-5 {
    font-size: 14px;
  }
  .info-ticket .text-6 {
    font-size: 12px;
  }
  .info-ticket img {
    padding: 7px;
    width: 16px;
    height: 16px;
  }
  .info-ticket .info-family {
    padding-left: 115px;
    min-width: 128px;
  }
  .total-buy {
    margin-top: 30px;
    grid-template-columns: auto auto auto auto;
  }
  .total-buy p {
    font-size: 14px;
  }
  #guided {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
  #guided .text-3 {
    font-size: 22px;
  }
  #guided .text-6 {
    font-size: 12px;
  }
  #guided .form {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #guided .people {
    grid-template-columns: auto 28px 28px 28px;
  }
  #guided .people .change-price {
    font-size: 14px;
  }
  #guided input {
    font-size: 14px;
  }
  #guided .datatime {
    grid-template-columns: 34px auto;
  }
  #guided .datatime input {
    padding-left: 0px;
  }
  #guided .lengua {
    grid-template-columns: auto 34px;
  }
  #guided img {
    width: 20px;
    height: 20px;
  }
  #guided button {
    padding: 7px;
  }
}
.about-author {
  position: relative;
  margin: 0px 64px 70px 64px;
  padding-top: 72px;
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.about-author img {
  position: relative;
}
.about-author .ratio {
  position: absolute;
  top: 0px;
  left: -64px;
}
.about-author .text {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about-author .text p {
  margin-top: 50px;
}
.about-author .text span {
  color: #BD6C2C;
}

.bio-in-years {
  margin: 0px 64px 74px 64px;
  display: grid;
}
.bio-in-years .list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bio-in-years .first-block {
  display: grid;
  grid-template-columns: 336px auto;
  grid-template-rows: 80px auto;
}
.bio-in-years .first-block .title {
  grid-column: span 2;
}
.bio-in-years .first-block img {
  margin-top: 14px;
}
.bio-in-years .line {
  height: 1px;
  background: #CBC4B8;
  border: 1px;
}
.bio-in-years .line.short {
  width: 640px;
}
.bio-in-years .second-block {
  display: grid;
  grid-template-columns: auto 336px;
  grid-template-rows: auto;
}
.bio-in-years .second-block .photo {
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bio-in-years .second-block .list {
  margin-top: 27px;
}

.years-info {
  min-height: 60px;
  padding-right: 112px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
}
.years-info span {
  align-self: flex-start;
}

.section {
  position: relative;
  margin: 0px 64px 72px 64px;
}
.section .description {
  position: relative;
  align-self: center;
}
.section .text-3.inverted {
  position: relative;
  writing-mode: vertical-rl;
  transform: scale(-1);
  color: #85817A;
}
.section .heading {
  position: relative;
  margin-bottom: 28px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.section .poster {
  position: relative;
}
.section.title {
  margin-top: 8px;
  display: flex;
  gap: 32px;
}
.section.title h1 {
  margin-bottom: 28px;
}
.section.title .ratio {
  position: absolute;
  top: -8px;
  left: -64px;
}
.section.title img {
  position: relative;
}
.section.about-page-content {
  display: flex;
  gap: 132px;
  margin-bottom: 64px;
}
.section.about-page-content p {
  position: relative;
  color: #E7E0CC;
}
.section.about-page-content span {
  color: white;
}
.section.about-page-content .background-fill {
  width: 1441px;
  height: 384px;
  position: absolute;
  top: -77px;
  left: -64px;
  background-color: #363533;
}
.section.number-1 {
  margin-top: 3px;
  padding-top: 69px;
  display: flex;
  flex-direction: column;
}
.section.number-1 .ratio-title {
  position: absolute;
  left: 0px;
  top: 0px;
}
.section.number-1 .info {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section.number-1 .info .btn {
  align-self: flex-end;
  margin-left: 289px;
  margin-bottom: 47px;
}
.section.number-1 p {
  max-width: 640px;
}
.section.number-2 {
  margin-bottom: 0px;
  padding-top: 72px;
  display: grid;
  grid-template-columns: 15% auto 32%;
  grid-template-rows: auto auto;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.section.number-2 .heading {
  grid-column: span 3;
}
.section.number-2 .back-color {
  position: absolute;
  background-color: rgba(231, 224, 204, 0.3);
  width: 1440px;
  height: 488px;
  top: 0px;
  left: -64px;
}
.section.number-2 .description {
  display: flex;
  align-self: flex-start;
}
.section.number-2 .description.one {
  flex-direction: row;
  gap: 4px;
}
.section.number-2 .description.two {
  flex-direction: column;
  gap: 24px;
}
.section.number-2 .btn {
  position: absolute;
  top: 236px;
  left: 0px;
}
.section.number-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section.number-3 .info {
  padding-top: 72px;
}
.section.number-3 p {
  padding-top: 28px;
  max-width: 640px;
}
.section.number-3 .btn {
  align-self: flex-end;
  margin-bottom: 146px;
}
.section.number-3 .ratio {
  position: absolute;
  bottom: 20px;
  right: 0px;
}
.section.number-4 {
  display: grid;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 28px;
  grid-template-areas: "title title title" "info info info" "Hyacinth Lottery Moravian" "Hyacinth info-2 Moravian";
}
.section.number-4 .title {
  grid-area: title;
  margin-bottom: 0px;
}
.section.number-4 .info {
  padding-left: 112px;
  grid-area: info;
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.section.number-4 .info .additional {
  max-width: 528px;
}
.section.number-4 .hyacinth {
  grid-area: Hyacinth;
  display: flex;
  flex-direction: row;
  position: relative;
}
.section.number-4 .lottery {
  grid-area: Lottery;
  justify-self: center;
  align-self: center;
  position: relative;
}
.section.number-4 .moravian {
  grid-area: Moravian;
  justify-self: end;
  position: relative;
}
.section.number-4 .info-2 {
  grid-area: info-2;
  position: relative;
  color: #E7E0CC;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.section.number-4 .background-fill {
  position: absolute;
  bottom: -72px;
  left: -64px;
  width: 1440px;
  height: 420px;
  background-color: #363533;
}
.section.number-4 .ratio {
  position: absolute;
  bottom: -72px;
  right: 218px;
}
.section.number-4 .btn {
  margin-top: 35px;
}
.section.number-5 {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
}
.section.number-5 .info {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.section.number-5 .text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.section.number-6 .info {
  position: relative;
  display: flex;
  gap: 32px;
}
.section.number-6 p {
  max-width: 528px;
  padding-top: 116px;
}
.section.number-6 .btn {
  align-self: flex-end;
  margin-bottom: 202px;
  margin-left: 121px;
}
.section.number-6 .background-fill {
  position: absolute;
  top: 144px;
  left: -64px;
  width: 1440px;
  height: 312px;
  background-color: rgba(231, 224, 204, 0.3);
}
.section.number-6 .ratio {
  position: absolute;
  top: 144px;
  right: 0px;
}
.section.number-7 {
  display: grid;
  grid-template-columns: auto 532px;
  -moz-column-gap: 80px;
       column-gap: 80px;
  grid-template-areas: "h h" "a b" "c b";
}
.section.number-7 .heading {
  grid-area: h;
}
.section.number-7 p {
  grid-area: a;
  max-width: 640px;
}
.section.number-7 .poster {
  position: relative;
  grid-area: b;
  justify-self: end;
}
.section.number-7 .btn {
  grid-area: c;
  position: absolute;
  bottom: 248px;
  left: 530px;
}
.section.number-7 .ratio {
  position: absolute;
  top: 88px;
  right: 4px;
}

.decorative-panels {
  position: relative;
  display: flex;
  margin-top: 60px;
}
.decorative-panels.the-four-arts {
  justify-content: flex-end;
  margin-top: 16px;
}
.decorative-panels.the-four-times-of-the-day {
  justify-content: flex-start;
}
.decorative-panels.the-four-times-of-the-day .ratio {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.decorative-panels.the-four-times-of-the-day .btn {
  padding-left: 33px;
  padding-top: 511px;
}
.decorative-panels.the-four-flowers {
  justify-content: flex-end;
}
.decorative-panels.the-four-flowers .btn {
  align-self: flex-end;
  margin-right: 50px;
}

h1 {
  font-size: 82px;
  font-style: normal;
  font-weight: 900;
  line-height: 92px;
  margin: 0px;
  font-family: "Playfair Display", serif;
}

.text-2 {
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  margin: 0px;
  font-family: "Playfair Display", serif;
}

.text-3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  margin: 0px;
  font-family: "Playfair Display", serif;
}

.text-4 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  margin: 0px;
  font-family: "Jost", sans-serif;
}

.text-5 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin: 0px;
  font-family: "Jost", sans-serif;
}

.text-6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin: 0px;
  font-family: "Jost", sans-serif;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0px;
  font-family: "Jost", sans-serif;
}/*# sourceMappingURL=main.css.map */