@import '_setting';

.content-purchase{
    width: auto;
    margin: 74px 64px 72px 64px;
}

#price-list {
    height: 811px;
    display: grid;
    grid-template-columns: 976px 336px;
    grid-template-rows: 119px 692px;

    .titel {
        grid-column: span 2;
    }

    .cost {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .line{
        height: 1px;
        background: #CBC4B8;
        border: 1px;
    }
    
    .image-info{
        margin-left: 32px;
        margin-bottom: 100px;
        background-color: $main-text-color;
        display: flex;
        flex-direction: column;

        p {
            padding: 24px;
            color: white;
        }
    }
}

.info-ticket{
    display: grid;
    grid-template-columns: 64px 268px 336px 44px 180px 28px 28px 28px;
    justify-items: start;
    align-items: center;

    span {
        color: $secondary-text-color;
    }

    img{
        padding: 14px;
    }
    
    .info-family {
        margin-top: 4px;
        padding-left: 336px;
        width: 336px;
    }
}

.change-price {
    justify-self: center;
    color: $secondary-text-color;
}

.total-buy{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 592px 80px 92px auto;
    justify-items: start;
    align-items: center;

    p {
        color: $secondary-text-color;
    }

    .btn {
        justify-self: end;
    }    
}

#guided{
    display: flex;
    flex-direction: column;
    gap: 28px;

    .form{
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(3, 416px);
        grid-template-rows: repeat(5, 52px);
        column-gap: 32px;
        row-gap: 28px;
    }

    .title {
        grid-column: span 3;
    }

    .full-name {
        border-bottom: 1px solid #CBC4B8;
    }

    .people{
        grid-column: span 3;
        display: grid;
        grid-template-columns: 336px 28px 28px 28px;
        justify-items: start;
        align-items: center;
    }

    input {
        font-family: $secondary-font;
        color: $secondary-text-color;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        padding: 8px 20px;
        border: none;
    }

    .datatime {
        margin-bottom: 2px;
        display: grid;
        grid-template-columns: 52px auto;
        border-bottom: 1px solid #CBC4B8;
    }

    .lengua {
        display: grid;
        grid-template-columns: auto 52px;
        border-bottom: 1px solid #CBC4B8;
    }

    button{
        padding: 14px;
    }

    .send {
        margin-top: 5px;
        align-self: flex-end;
    }
}